@import url("https://fonts.googleapis.com/css?family=Mooli|Lato");


body {
    background-color: #2d2d2e;
    font-family: 'Mooli';
    /* #f6f5fa */
}

.navigator {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%
}

.navbar-brand {
    font-family: 'Lato';
    
    background-image: linear-gradient(
    -225deg,
    #acacac 0%,
    #c6c6c6 29%,
    #e4e4e4 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #232323;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 300%;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

button {
    width:20%;
    color: white;
}

button:hover {
    background-color: #7b7b84;
    transform: scale(1.1);
}

#nav_collapse{
    height: 15vh;
    background-color: #727274df;
}

.photo {
    display: flex;
    align-items: center;
    columns: 1fr 1fr;
    justify-content: flex-start;
}

.summary{
    color: white; 
    font-size: 200%; 
    line-height: 200%;
    margin-left: 5%; 
    margin-right: 5%; 
    padding-top: 2%;
}

.education {
    padding-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 200%;
    line-height: 200%;
    color: white;
    
}

li {

    margin-left: 5%;
    
}

.work-exp {
    padding-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 200%;
    line-height: 200%;
    color: white;
}

.skill {
    padding-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 200%;
    line-height: 200%;
    color: white;
}

.hobby {
    padding-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 200%;
    line-height: 200%;
    color: white;
}

@keyframes textclip {
    to{
        background-position: 200% center;
    }
    
}

.hidden{
    position: relative;
    filter: blur(5px);
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s all ease;
  }
  
.show{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
}

.content{
    left:30%;
    position: fixed;
    overflow: hidden;
}

.content .text{
    position: relative;
    color: white;
    font-size: 300%;
    
    
}

.content .text.text2{
    color: #5295cb;
}

.content .text.text2:before{
    
    content: "";
    position: absolute;
    left:0;
    top:0;
    height:105%;
    width:100%;
    background-color: #2d2d2e;
    
    border-left: 4px solid #5295cb;
    animation: typing 4s steps(10) infinite;
    
    
}

@keyframes typing{
    40%, 60%{
        left: calc(100% + 2%);
    }
    100%{
        left:0%
    }
}

.code-container {
    color:white;
    display:grid;
    grid-gap: 2%;
    max-width: 85%;
    height: fit-content;
    margin: auto;
    
}

.code-container .project{
    margin: auto;
    display: grid;
    font-size: 200%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #484849;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    
}

.text {
    max-width: 90%;
    line-break: 110%;
    padding-top: 2%;
    padding-left: 2%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 150%;
}

.image {
    padding-top: 2%;
    padding-right: 22%;
    padding-bottom: 2%;
    margin-top: auto;
    margin-bottom: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    float: right;
    flex-wrap: wrap;
    height: 100%;
    
}

img {
    margin: auto;
}

/* .image > .hidden {
    margin: auto;
    display:grid;
    
    align-items: center;
    justify-content: center;
    float: right;
    height: 100%;
    grid-gap: 2%;
    
    
} */


