body {
    background-color: #2d2d2e;
    /* #f6f5fa */
}

/* nav {
    background-color: #004681;
} */

.navbar-brand:hover {
    transform: scale(1.1);
}

button {
    width:18%;
    color: white;
}

button:hover {
    background-color: #7b7b84;
    transform: scale(1.1);
}

#nav_collapse{
    height: 15vh;
    background-color: #727274b0;
}

.personal-information {
    display: flex;
    align-items: center;
    columns: 1fr 1fr 1fr;
    justify-content: flex-start;
}